.DS_Store
# نادیده گرفتن کدهای شخصی درون ورک‌پیس
workspace/*
!workspace/.gitkeep
!workspace/data/
workspace/data/*
!workspace/data/.gitkeep
!workspace/data/bruno/
workspace/data/bruno/*
!workspace/data/bruno/.gitkeep
!workspace/data/postman/
workspace/data/postman/*
!workspace/data/postman/.gitkeep

# نادیده گرفتن فایل‌های پشتیبان
backups/*
!backups/.gitkeep

# نادیده گرفتن فایل‌های لاگ داکر
*.log

*.exe
.mimocode
prebuilt

# Python virtual environments
my-env/
venv/
.venv/
.pnpm-store 
